.footer {
  margin: 0 auto;
}

.footer__copyright {
  font-size: 14px;
  line-height: 1.1;
  margin: 90px 0 0;
  padding-bottom: 24px;
}

@media screen and (max-width: 1024px) {
  .footer__copyright {
    margin: 90px 0 0;
  }
}

@media screen and (max-width: 544px) {
  .footer__copyright {
    margin: 15px 0 0;
  }
}
