.photo-grid {
  display: grid;
  max-width: 1184px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 16px 16px;
  margin: 118px auto 92px;
}

.photo-grid__item {
  width: 100%;
}

@media screen and (max-width: 1024px) {
  .photo-grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    margin: 64px 24px 88px;
  }
}

@media screen and (max-width: 544px) {
  .photo-grid {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(8, 1fr);
    grid-gap: 16px 24px;
    margin: 38px 16px 62px;
  }
}
